/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*////home page///////*/
#home_page_body {
  background-color: #173e43;
}

.header{
  background-color: #173e43;
  position: absolute;
  right: 2%;
}

.header a{
  text-decoration: none;
  color: #dddfd4;

}
.logo_container{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title {
  color: #dddfd4;
}

.title #first_line h1{
  font-size: 120pt;
  margin-bottom: 0px;
}

.title #second_line h1{
  font-size: 120pt;
  margin-top: 0px;
}


