/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*////home page///////*/
#home_page_body {
  background-color: #173e43;
}

#home_page_header{
  background-color: #173e43;
  position: absolute;
  right: 2%;
}

#home_page_header a{
  text-decoration: none;
  color: #dddfd4;

}
.logo_container{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title {
  color: #dddfd4;
}

.title #first_line h1{
  font-size: 120pt;
  margin-bottom: 0px;
}

.title #second_line h1{
  font-size: 120pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*////forms///////*/
.errors{
  color: red;
}
/*////forms///////*/
.form{
  max-width: 500px;
  padding: 10px 20px;
  background: #173e43;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
}
.form_lable{
  display: inline-block;
  color: #dddfd4;
}

.form_field{
  background: transparent;
  border: none;
  border-bottom: 1px dashed #fae596;
  margin-bottom: 10px;

}

.form_field input {
  background: transparent;
  border-color: transparent;
  border: none;
  overflow: auto;
  width: 100%;

  }

.form_button input{
  margin-top: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #173e43;
  font-size: 20pt;
  background-color: #fae596;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;

}

